<div class="container">
    <h1>About the Author</h1>
    <p>Hello! I'm Mario Gutiérrez, the creator and curious mind behind this blog. Currently, I'm studying Data Engineering at Universidad Politécnica de Madrid, where my passion for exploring the vast world of data has blossomed.</p>
    <p>My aim with this blog is to create a space where I can share my thoughts, knowledge, and discoveries on a wide variety of topics that I'm passionate about. From technology to literature, and everything in between, I'm excited to share my reflections and experiences with you.</p>
    <p>I'm a firm believer in the power of continuous learning and the importance of keeping an open mind to new ideas. I hope you find inspiration and value in the words I share here.</p>
    <p>Thank you for joining me on this exciting journey!</p>
    <img id="author" src="images\author.jpg" alt="Author's photo" width="200"/>
</div>