<!DOCTYPE html>
<html>
  <head>
    <title>Mario's Blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
        <h1>Mario's Blog</h1>
        <nav>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/posts">Posts</a></li>
              <li><a href="/author">Author</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <%- body %>
    </section>
    <footer>
        <p>Created by: Mario Gutiérrez</p>
    </footer>
  </body>
</html>